@model IEnumerable<Game>

<link rel="stylesheet" href="~/css/home.css" />

<div class="register-highscore">

    <a asp-area="" asp-controller="highScores" asp-action="new">Register highscore</a>
</div>


           <partial name="_HighscoreList" />





